body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #34495e;
}
.btn-login {
    background-color: #34495e;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.btn-login:hover {
    background-color: #34495e;
}
.form-control:focus {
    border-color: #34495e;
    box-shadow: 0 0 4px rgba(26, 188, 156, 0.5);
}
.text-center a {
    color: #34495e;
}

img{
    width: 40px;
    filter: invert(100%) sepia(50%) hue-rotate(200deg);
    margin-bottom: 30px;
}

