@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f9fa;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem; 
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.logo {
  cursor: pointer;
  margin: 1rem auto; 
  width: 70px;
  height: 70px;
  background-color: #0b00a2;
  position: relative;
}

.logo:hover {
  background-color: #1d10d3;
}

.logo::before {
  content: "";
  width: 70px;
  height: 70px;
  background-color: #f5f9fa;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 90%;
  max-width: 300px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  margin: 1rem auto;
  font-family: 'Open Sans', sans-serif;
}

.form {
  padding: 1rem;
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
  max-width: 100%; 
}

button {
  width: 100%;
  padding: rem;
  background-color: #0b00a2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.8rem;
}

input, button {
  font-size: 1rem;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  border: none;
  appearance: none;
  align-items: center;
  width: 100%;
}

.input-group {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr; 
  gap: 0.5rem; 
}

.test a {
  color: #0b00a2;
  display: block;
  text-align: center;
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

@media (min-width: 768px) {
  body {
    padding: 2rem; 
  }
  .logo {
    margin: 2rem auto; 
  }
  .container {
    max-width: 300px; 
  }
}

button:hover {
  background-color: #0056b3;
}
a:hover {
  text-decoration: underline;
}
