body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #34495e;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: none;
    border-radius: 10px;
}

.card h1 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #34495e;
}

.form-label {
    font-size: 0.9rem;
    font-weight: 500;
}

.btn-primary {
    background-color: #34495e;
    border: none;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #34495e;
}

.form-control,
.form-select {
    font-size: 0.9rem;
}

p.small {
    font-size: 0.85rem;
    margin-top: 15px;
}

img{
    width: 40px;
    filter: invert(100%) sepia(100%) hue-rotate(200deg);
}